.audio-player-container {
  display: flex;
  width: 89%;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 20px 20px;

}

.audio-player {
  display: flex;
  height: 93px;
  width: 97%;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
  background-color: #dbcdb4;
  border: 1px solid #959489;
  border-radius: 50px;
  box-shadow: 0px 2px 3.84px rgba(0, 0, 0, 0.25);
}

.play-btn {
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

.play-btn-img {
  width: 50px;
  height: 50px;
}

.track-title {
  font-size: 18px;
  font-family: 'Fredoka-SemiBold';
}
