<div class="background" [ngStyle]="{'background-image': 'url(../../assets/images/app-background.webp)'}">
  <div *ngIf="modalVisible" class="modal-overlay">
    <div class="overlay-content">
      <img src="../../assets/images/background-green.jpg" class="overlay-image" />
      <button class="close-button" (click)="handleCloseModal()">X</button>
      <div @fadeIn class="bubble-container">
        <button (click)="playOrPause()">
          <img src="assets/images/intro_bubble.png" class="avatar" />
        </button>
      </div>
      <div @slideIn class="avatar-container">
        <img src="../../assets/images/radojka.png" class="avatar" />
      </div>
    </div>
  </div>

  <div *ngIf="!modalVisible" class="main-container">
    <div class="buttons-container">
      <div @float class="float-container">
        <img src="../../assets/images/bad-leti.png" class="badisa" />
      </div>
      <h1 class="title">Choose your day</h1>
      <div *ngFor="let day of days" class="button-wrapper">
        <div class="button" (click)="openDetailsPage(day)">
          <img [src]="imageMapping[day.code]" class="button-image" />
          <p class="button-text">{{ day.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<app-splash-screen *ngIf="showSplash" style="position: absolute; top: 0;"></app-splash-screen>
